/* Adding style for the created menu items */
.wrapper {
  padding-top: 20px;
}

body h3 {
  margin-bottom: 25px;
}
.navbar-brand a {
  color: #ffffff;
}
.form-wrapper, .table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.table-wrapper {
  max-width: 1000px;
}

.edit-link {
  padding: 70px 10px;
  font-size: 0.877rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-left: 10px;
  position: relative;
  top: 1px;
}

.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.btn-look {
  margin-top: 10px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
