@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: max-content;
    align-items: flex-start;
    padding: 0.5rem;
    background-color: rgb(38, 197, 29);
    color: white;
    border-radius: 15px;
    margin-left: 20px;
  }
}

.bg-primary {
  background-color: rgb(243, 51, 17) !important;
}

a {
  color: rgb(243, 51, 17);
}

a:hover, a:focus, a:active {
  color: red;
}

h1, h5 {
  color: white;
}

body{
  height: fit-content;
  background: url("../src/Components/img/HondaCivicCoupe2019.jpg") center top no-repeat;
  background-size: cover;
}
#aboutUs {
  background: url("../src/Components//img/luxuryCover.jpg") no-repeat;
  background-size: cover;
  margin: 60px;
  color: white;
  border-radius: 15px;  
}
#aboutUs h5, h6 {
  color: rgb(72, 0, 255);
  background: white;
  padding: 10px;
  margin-right: 30%;
  text-align: center;
  margin-left: 30%;
  border-radius: 0 25px;
}
#aboutUs p {
  padding: 0 30px;
}
.ourservices {
  margin: 30px;
  color: black;
  font-size: 18px;
  align-items: center;
  display: block;
  width: auto;
}
li:nth-child(even){
  color: blue;
}

/*Button*/
.filterButton{
  margin: 8px !important;
  border-radius: 8px;
  color: white !important;
  padding: 10px !important;
  background-color: blue;
}
.homeProfile {
  color: white;
  display: block;
  width: fit-content;
}
.bannerTag {
  margin-top: 50px;
}
.bannerTag, .slogan {
  text-align: center;
  padding: 5px;
}
.actionMsg {
  display: flex;
  justify-items: center;
  justify-content: left;
  padding-top: 30px;
}
button {
  text-decoration: none;
  background: none;
  color: blue;
  border: none;
  font-weight: 700;
  padding: 10px;

}
.navbar {
  background: white;
  font-weight: 700;
}
.carCollection 
{
  border-radius: 20px;
  background: url("../src/Components/img/CadillacCT52020.jpg");
  text-align: center;
  margin: 30px;
  line-height: 5pt;
}
.cardpart :nth-child(even){
  color: black;
  padding: 8px;
}
.cardpart :nth-child(odd){
  color: blue;
  padding: 8px;
}
.allcards {
  width: fit-content;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
}
#socials {
  background: url("../src/Components/img/CadillacCT52020.jpg");
  align-items: center;
  right: 0;
  padding: 50px;
  margin: 0 50px 0 50px;
}
.socials {
  color: rgb(45, 11, 237);
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
}